# Node modules directory
node_modules/

# Environment variable file
.env

# Logs
*.log

# Build outputs
/dist
/build

# Operating system files
.DS_Store
Thumbs.db

# IDE or editor settings
.vscode/
.idea/
